
* {
    font-family: sans-serif;
}

.body {
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
}

.textish {
    background: whitesmoke;
    width: 90%;
    height: 300px;
}

button {
    font-size: 120%;
    padding: 10px;
}

.rightward {
    width: 10%;
    margin-left: 80%;
}

.char {
    font-family: monospace;
    font-size: 250%;
    margin: 1px 0px 1px 1px;
    white-space: pre-wrap;
}

.key {
    width: 25%;
    text-align: center;
}

.untyped {
    color: black;
    background: transparent;
}

@keyframes flash {
    from {
        text-decoration: none;
    }
    to {
        text-decoration: underline;
    }
}

.next {
    color: white;
    background: lightgray;
    animation-name: flash;
    animation-duration: 0.33s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.good {
    color: darkgreen;
    background: lightgreen;
}

.outre {
    color: gold;
    background: lightyellow;
}

.anti {
    color: white;
    background: dimgray;
}

.bad {
    color: darkred;
    background: rosybrown;
}

